$font_Raleway: 'Raleway', sans-serif;
$font_OpenSans: 'Open Sans', sans-serif;
$color_header: #fff;
$color_title: #24282f;
$color_text: #232323;
$color_footer: #6e7279;
$color_gold: #b5a263;
$bg_header: #24282f;